.profile-back {
    /* background-image: url("images/background15.jpg"); */
    background-image: url('../../assets/images/blackbg.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: pink;
    padding: 2%
}

#profile-form {
    margin-left: 40%;
}

.profileInput {
    font-family: 'Gloria Hallelujah', cursive;
    margin: 10px;
    width: 30%;
    height: 50px;
    font-size: 30px;
    text-align: center;
    border-top: none;
    border-right: none;
    border-left: none;
    border-color: white;
    border-width: 8px;
    border-radius: 10%;
    background-color: transparent;
    color: white;
    z-index: 5;
    
}
#AGEProfile{
    margin-left: 15%;
}

.labelProfile{
    margin-left: 10%;
    font-family: 'Gloria Hallelujah', cursive;
    color: white;
    font-style: italic;
}

#profile-nav {
    align-content: center;
    margin-left: 40%;
}
#CITYProflie{
    margin-left: 15%;
}

/* .profile-logo {
    align-content: center;
    margin-left: 40%;
    font-weight: bold;
    text-decoration: underline;
    color: white;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    letter-spacing: 6px;
} */

.ProfilePicture {
    left: 10px;
    position: absolute;
    float: left;
    margin: 1% 3% 0% 8%;
    border-style: double;
    border-color: rgb(0, 0, 0);
    border-width: 8px;
    border-radius: 100%;
    width: 400px !important;
    height: 400px !important;
    top: 22%;
    left: 1%;
}
.DelProfBtn{
    font-family: 'Dokdo', cursive;
    background-color:transparent;
    color:white;
    font-weight: bolder;
    /* margin-left: 77%; */
    border: none;
    font-size: 25px; 
    border: ridge silver 4px;
    background-color: red;
	margin-left: 10%;
}

.labelProfile {
    margin-left: 8%;
}

.UpdateProfileBtn {
    margin-left: 3%;
    margin-right: 10px;
}

.badge {
    position: absolute;

    float: left;
    width: 40%;
    border-radius: 100%;
    transform: rotate(-35deg);
    color: white;
    left: 2%;
    top: 1%;

}

h1 span {
    font-family: 'Dokdo', cursive;
    height: 300px;
    position: absolute;
    width: 200px;
    left: 0;
    top: 0;
    font-size: 100px;
    transform-origin: bottom center;
}

.char1 {
    /* Y */
    transform: rotate(-8deg);
}

.char2 {
    /* O */
    transform: rotate(-1deg);
}

.char3 {
    /* U */
    transform: rotate(6deg);
}

.char4 {
    /* R */
    transform: rotate(14deg);
}

.char5 {
    /* Space */
    transform: rotate(30deg);
}

.char6 {
    /* P */
    transform: rotate(36deg);
}

.char7 {
    /* R */
    transform: rotate(44deg);
}

.char8 {
    /* O*/
    transform: rotate(52deg);
}

.char9 {
    /* F */
    transform: rotate(58deg);
}

.char10 {
    /* I */
    transform: rotate(64deg);
}

.char11 {
    /* L */
    transform: rotate(69deg);
}

.char12 {
    /* E */
    transform: rotate(74deg);
}

.UpdateProfileBtn{
    font-family: 'Dokdo', cursive;
    background-color: black;
    color: white;
    font-weight: bolder;
    position: absolute;
    left: 14%;
    top: 567px;
    letter-spacing: 1%;
    width: 185px;
    font-size: 26px;
 
 }
 .ProfileCancelBtn{
    font-family: 'Dokdo', cursive;
    background-color: red;
    color: white;
    font-weight: bolder;
    letter-spacing: 1%;
    position: absolute;
    left: 19%;
    top: 620px;
    width: 128px;
    font-size: 25px;
 }
 .DelProfBtn{
    font-family: 'Dokdo', cursive;
    background-color: transparent;
    color: white;
    font-weight: bolder;
    border: none;
    font-size: 25px;
    border: ridge silver 4px;
    background-color: rgb(143, 2, 2);
    position: absolute;
    right: 1%;
    top: 19%;
}
 .GotoChatBtn{
    font-family: 'Dokdo', cursive;
    background-color: transparent;
    color: white;
    font-weight: bolder;
    /* margin-left: 77%; */
    border: none;
    font-size: 25px;
    border: ridge silver 4px;
    background-color: black;
    position: absolute;
    top: 851px;
    left: 40%;
 } .SignOutProfile{
    right: 450px;
    top: 852px;
    font-family: 'Dokdo', cursive;
    background-color: transparent;
    color: white;
   
    font-weight: bolder;
    border: none;
    font-size: 25px;
    position: absolute;
    border: ridge silver 4px;
    background-color: red;


}
option{
    background: #000;
    color:white;
}
 @media only screen and (max-width: 600px) {
    .ProfilePicture {
        left: -5px;
        margin: 1% 3% 0% 8%;
        width: 125px !important;
        height: 125px !important;
        top: 8%;
    }.badge {
        width: 91%;
        left: -23%;
        top: -1%;
    }
    
    h1 span {
    height: 123px;
    width: 111px;
    left: 34px;
    top: 9px;
    font-size: 50px;
    }
    #profile-form {
        margin-left: 40%;
    }.profileInput {
        margin: -3px 1px 10px 52px;
        width: 68%;
        height: 22px;
        font-size: 13px;
        border-width: 2px;
        
    }.labelProfile {
        margin-left: 38%;
    }.GotoChatBtn{
        font-weight: bolder;
        position: absolute;
        top: 571px;
        left: 60px;
        border: ridge silver 4px;
        color: white;
        margin-left: 0%;
        width: 154px;

     }.UpdateProfileBtn{
        position: absolute;
        top: 214px;
        left: 30px;
        font-size: 13px;
        width: 100px;
     }.SignOutProfile{
        position: absolute;
    top: 570px;
    right: 24px;
    }
     .ProfileCancelBtn{
        font-weight: bolder;
        letter-spacing: 1%;
        position: absolute;
        top: 254px;
        left: 54px;
        background-color: red;
        font-size: 15px;
        width: 74px;
     }.DelProfBtn{
        font-family: 'Dokdo', cursive;
        background-color: transparent;
        color: white;
        font-weight: bolder;
        border: none;
        font-size: 15px;
        border: ridge silver 4px;
        background-color: rgb(143, 2, 2);
        position: absolute;
        left: 1%;
        top: 41%;
    }
    
    #CITYProflie{
        margin-left: 52%;
    }#AGEProfile{
        margin-left: 52%;
    }#myId1{
        background: #000;
        width: 77%;
        margin-left: 20%;
       color: rgb(255, 255, 255);
        font-size: 84%;
        height: 10%;
    }
    
 }



 @keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}

	80% {
		-webkit-transform: translateY(-5px);
		transform: translateY(-5px);
	}
}


.SignOutProfile:hover {
	animation: bounce 2s;
} 


