body {
    /* background-image: url("images/background15.jpg"); */
    background-image: url('../../assets/images/login-signup-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-color: pink;
}

input {
   
    margin: 10px;
    width: 20%;
    height: 50px;
    font-size: 20px;
    text-align: center;
    border-style: ridge;
    border-color: rgb(88, 50, 0);
    border-width: 8px;
    border-radius: 10%;
}

.SIGNUP{
    margin-left: 9%;
}
.App {
    text-align: left;
}


form {
    width: 100%;
    border: green;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url('https://img00.deviantart.net/9e99/i/2011/023/f/e/merlotte__s_bar_background_by_riogirl9909-d37x1k6.jpg"');
}

#myId {
    margin-left: 20%;
    margin: 10px;
    width: 20%;
    height: 50px;
    font-size: 20px;
    border-style: ridge;
    border-color: rgb(88, 50, 0);
    border-width: 8px;
    border-radius: 10%;
    text-align: center;
}

#SS {
    margin-left: 80px;
    color: white;
    text-align: center;
}

.RecluseWord{
    font-family: 'Allerta', sans-serif;
    float:right;
    color: rgb(255, 255, 255);
    margin-left: 60%;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    letter-spacing: 6px;
    position: fixed;
    
    
}
.LetLooseWord{
    font-family: 'Allerta', sans-serif;
    float: right;
    color: rgb(255, 255, 255);
    margin-left: 59%;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    letter-spacing: 6px;
    margin-top: 3%;
    position: fixed;

}
#SignUpSubmit{
    background-color: rgb(255, 38, 0);
    border-radius: 10%;
    color:white;
    font-family: 'Allerta', sans-serif;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    letter-spacing: 2px;
    border-style: ridge;
    border-color: rgb(88, 50, 0);
    border-width: 4px;
    margin-left: 3%;

    
}
#SignUpCancel{
    background-color: rgb(255, 38, 0);
    border-radius: 10%;
    color:white;
    font-family: 'Allerta', sans-serif;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    letter-spacing: 2px;
    border-style: ridge;
    border-color: rgb(88, 50, 0);
    border-width: 4px;
    margin-left: 2%;
}



