body {
    background-color:#42ddf1;
    background-image: url('../../assets/images/BarBubbles.png');

}
#side-bar{
    box-sizing:border-box;
    width:100%;
    height:100%;
    display:flex;
    justify-content:space-around;
    flex-direction:column;
}
.side-bar-select_option{
    background-color:#3992e6;
    color:#000000;
    text-align: center;

}

.search{
    background:#3992e6;
    box-sizing:border-box;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    border-width:1px 0;
    border-style:solid;
    border-color:#3992e6;
    padding-left:15px;
    padding-right:20px;
    height:40px;
    max-height:65px;
}
.search .search-icon{
    margin-right:15px;
    cursor:pointer;
}
.search input{
    width:100%;
    height:75%;
    background:white;
    flex-grow: 2;
    box-sizing:border-box;
    border:none;
    color:black;
}
.search input:focus{
    outline:none;
}
.search input::placeholder{
    color:#3992e6;
    opacity:.6;
}
.search .plus{
    display:inline-block;
    position:relative;
    cursor:pointer;
    width:13px;
    height:13px;
}
.search .plus::after,#side-bar .search .plus::before{
    content:'';
    position:absolute;
    background:#3992e6;
}
.search .plus::after{
    width:16px;
    height:2px;
    top:5px;
}
.search .plus::before{
    width:2px;
    height:16px;
    top:-2px;
    left:7px;
}
.users{
    color: black;
    overflow-y:scroll;
    background:#3992e6;
    flex-grow:1;
}
.users::-webkit-scrollbar-track{
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
    background-color:#3992e6;
}
.users::-webkit-scrollbar{
    width:5px;
    background-color:black;
}
.users::-webkit-scrollbar-thumb{
    background-color:black;
}
.users .user{
    align-items:center;
    display:flex;
    height:66px;
    justify-content:flex-start;
    padding:18px 16px;
}
.users .user.active,#side-bar .users .user:hover{
    background:#0560b6;
}
.users .user:hover:not(.active){
    cursor:pointer;
}
.users .user .user-info{
    color: black;
    text-align: center;
    background: #3992e6;
    margin-left:15px;
    flex-grow:1;
}
.users .user .user-info .last-message{
    font-size:12px;
    opacity:.56;
}
.users .user .new-message{
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
}
.current-user{
    color: white;
    align-items:center;
    background:#3992e6;
    box-sizing:border-box;
    display:flex;
    flex-direction:row;
    height:10vh;
    max-height:65px;
    justify-content:space-between;
    padding-left:16px;
    padding-right:16px;
}
.current-user .logout{
    align-items:center;
    cursor:pointer;
    display:flex;
    justify-content:center;
    font-size:2em;
}
.chat-header{
    background:#3992e6;
    color: #000000;
    box-shadow:0px 6px 5px -2px rgba(225,225,225,0.7);
    box-sizing:border-box;
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:12vh;
    max-height:65px;
    padding:18px 16px;
}
.SidebarChat {

}
@media screen and (max-width: 600px){
   .container{
        position:relative;
        display:flex;
        flex-direction:column;
        height:100%;
        width:100%;
    }
    .SidebarChat {
        width: 100%;
    }
}
    