body {
    /* background-image: url('https://images2.alphacoders.com/437/437652.jpg'); */
    background-image: url('../../assets/images/BubbleBackground.png');
}
.LogInSubmitBtn {
    border-radius: 10%;
    color:white;
    font-family: 'Fredoka One', cursive;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    letter-spacing: 2px;
    border-style: double;
    border-color: silver;
    border-width: 4px;
    margin-left: 2%;
    border-width: 4px;
    margin-left: 22%;

}


.LoginInput{
     margin: 10px;
    width: 20%;
    height: 50px;
    font-size: 20px;
    text-align: center;
    border-style: double;
    border-color:silver;
    border-width: 8px;
    border-radius: 10%;
    margin-left: 15%;
}
@media only screen and (max-width: 600px) {
    .LoginInput{
        width: 76%;
        margin: 2% 5% 5% 13%;
   }
   .LogInSubmitBtn {
    margin-left: 40%;

}
}
