.navbar {
    margin-left: 8%;
    width: 35%;
    background-color: transparent;
    font-family: 'Fredoka One', cursive;
    color: white;
    font-size: 25px;
    border-style: double;
    border-color:silver;
    border-width: 8px;
    border-radius: 10%;
    text-shadow: -2px 0 silver, 0 2px silver, 2px 0 silver, 0 -2px silver;

}

.LoginLink{  
    text-decoration: underline;
    margin-left: 25%;
    font-size: 25px;
    color: rgb(255, 254, 254);

}
.SignUpLink {
    text-decoration: underline;
    margin-left: 5%;
    font-size: 25px;
    color: rgb(255, 254, 254);
}
.logo{
    border-radius: 20%;
    height: 60px;
    width: 100px;
    
}
@media only screen and (max-width: 600px) {
    .navbar {
        margin: 4%;
        width: 91%;
    
    }
    
    .LoginLink{  
        
        margin-left: 5%;
        font-size: 25px;
      
    
    }
    .SignUpLink { 
        margin-left: 5%;
        font-size: 25px; 
    }
    .logo{
        border-radius: 20%;
        height: 60px;
        width: 100px;
        
    }
}




